
<!DOCTYPE html>
<html>
  <head>
    <title>CollegeFinder</title>
    
  <body>
    <h1>Welcome to CollegeFinder!</h1>
    
      <a href="colleges/hello">Search</a>
      <a href="colleges/advance_search">Advance Search</a>
	</body>
</html>
